<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <title>Navbar</title>
</head>
<body>
<div class="container-fluid bg-light" th:fragment="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/main">Gallery</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/main" th:text="#{header.link.main}">Main <span
                                class="sr-only">(current)</span></a>
                    </li>

                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/exhibitions" th:text="#{header.link.exhibitions}">Exhibitions</a>
                    </li>

                    <li sec:authorize="hasAuthority('ADMIN')" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           th:text="#{header.link.admin_panel}">Admin Panel
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/exhibition_panel" th:text="#{admin_panel.exhibition}">
                                Exhibitions</a>
                            <a class="dropdown-item" href="/admin/hall_panel" th:text="#{admin_panel.hall}">Halls</a>
                            <a class="dropdown-item" href="/admin/exhibition_event_panel"
                               th:text="#{admin_panel.exhibition_event}">Exhibition events</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           th:text="#{header.link.language}">Language
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{''(lang=en)}" th:text="#{language.english}"></a>
                            <a class="dropdown-item" th:href="@{''(lang=ua)}" th:text="#{language.ukrainian}"></a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a sec:authorize="!isAuthenticated()" class="nav-link" href="/login"
                           th:text="#{header.link.sign_in}">Sign in</a>
                    </li>

                    <li class="nav-item">
                        <a sec:authorize="!isAuthenticated()" class="nav-link" href="/registration"
                           th:text="#{header.link.sign_up}">Sign up</a>
                    </li>

                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated()" class="nav-link" href="/logout" th:text="#{header.link.logout}">Logout</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>