<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <title th:text="#{header.link.sign_up}">Sign up</title>
</head>
<header th:insert="header::header"></header>
<body>
<div class="container-fluid">
    <div class="container login-registration-container w-50 p-5">
        <form th:action="@{/registration}" method="post" th:object="${userDTO}">
            <h1 class="text-center" th:text="#{registration.label.title}"></h1>

            <div class="form-group">
                <label for="inputLogin" th:text="#{registration.label.login}">Enter login</label>
                <input name="username" type="text" class="form-control" id="inputLogin"
                       th:value="*{username}" th:placeholder="#{registration.placeholder.login}">
            </div>
            <div class="alert alert-danger p-1" role="alert" th:each="error : ${#fields.errors('username')}"
                 th:text="${error}">
            </div>

            <div class="form-group">
                <label for="inputEmail" th:text="#{registration.label.email}">Enter email</label>
                <input name="email" type="text" class="form-control" id="inputEmail"
                       th:placeholder="#{registration.placeholder.email}" th:value="*{email}">
            </div>
            <div class="alert alert-danger p-1" role="alert" th:each="error : ${#fields.errors('email')}"
                 th:text="${error}">
            </div>

            <div class="form-group">
                <label for="inputPassword" th:text="#{registration.label.password}">Enter password</label>
                <input type="password" name="password" class="form-control" id="inputPassword"
                       th:placeholder="#{registration.placeholder.password}" th:value="*{password}">
            </div>
            <div class="alert alert-danger p-1" role="alert" th:each="error : ${#fields.errors('password')}"
                 th:text="${error}">
            </div>

            <div class="form-group">
                <label for="inputMatchingPassword" th:text="#{registration.label.confirm_password}">Confirm
                    password</label>
                <input name="matchingPassword" type="password" class="form-control" id="inputMatchingPassword"
                       th:placeholder="#{registration.placeholder.password}" th:value="*{matchingPassword}">
            </div>
            <div class="alert alert-danger p-1" role="alert" th:each="error : ${#fields.errors('password')}"
                 th:text="${error}">
            </div>

            <button type="submit" class="btn btn-primary" th:text="#{registration.button.sign_up}">Sign up</button>
        </form>
        <div class="d-flex justify-content-center p-3">
            <div class="col-5">
                <p class="text-center" th:text="#{registration.label.have_account} ">Don't have an account?
                </p>
            </div>
            <div class="col-5">
                <a href="/login" th:text="#{registration.link.sign_in}">Sign in</a>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:insert="footer::footer"></footer>
</html>